.cart{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
}

.carts{
  display: flex;
  height: auto;
  flex-direction: row;
}

.display-cart{
  display: flex;
  flex-direction: column;
}

.selected{
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 250px;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.desc-stuf{
  margin-left: 2rem;
  width: 200px;
}

.selects{
  margin-left: 1rem;
}

.btn-remove {
  background: #dc411f;
  color: #ffffff;
  font-weight: 500;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.quantity{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.btn-temp{
  border: none;
  outline: none;
  border: 1px solid #d6d6d6;
  width: 45px;
  height: 22px;
}

.qt{
  display: flex;
  justify-content: center;
  width: 45px;
  height: 20px;
  background-color: #ECF0F1;
  border: 1px solid #d6d6d6;
}

.payment{
  width: 350px;
  height: 300px;
  border-radius: 15px;
  margin-left: 0rem;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.payment h3{
  font-size: 30px;
  margin-bottom: 3rem;
}

.modal-remove {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.content-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  padding: 40px;
  color: #0d253c; 
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.btn-accept {
  background: #6379f4;
  color: #ffffff;
  font-weight: 500;
  margin-right: 1rem;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.btn-cancel {
  background: #dc411f;
  color: #ffffff;
  font-weight: 500;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.price{
  margin-left: 10rem;
  font-size: 25px;
  font-weight: 500;
}

.payment h4{
  font-size: 25px;
  font-weight: 500;
}

.btn-checkOut{
  background: #6379f4;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  margin-left: 0.5rem;
  margin-top: 3rem;
  width: 330px;
  height: 46px;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}