.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem;
}

.search-input {
    box-sizing: border-box;
    width: 500px;
    height: 47px;
    margin: 3rem 5rem -4rem;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: rgba(58, 61, 66, 0.1);
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0.8rem;
  width: 300px;
  height: 330px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.37);
}

.title {
  font-family: "Poppins", sans-serif;
  margin-bottom: -1rem;
  margin-top: -0.1rem;
}

.stock {
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.btn-add {
  background: #3498db;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100px;
  height: 37px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.btn-add:hover {
  background: #ecf0f1;
  color: #0d253c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
